.example {
  display: flex;
  justify-content: center;
  height: 705px;
  margin-top: 25px;
  background: #f2f2f2;
}

.example__wrap {

  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example__list {
  width: inherit;
  list-style: none;
  padding: 0;
}

.example_item:nth-child(2) {
  margin-left: -20px;
  width: 320px;
}

.example__tittle {
  font-size: 36px;
  margin: 0;
  padding-top: 17px;
  padding-left: 10px;
  letter-spacing: 1px;
}

.example__block-img {
  position: relative;
  height: 250px;
}

.example__before {
  position: absolute;
}

.example__after {
  position: absolute;
  display: none;
}

.example__text {
  width: 267px;
  font-family: "Arial MT";
  margin: 0;
  margin-bottom: 23px;
  line-height: 18px;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.example__weight,
.example__days {
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  position: relative;
  font-size: 24px;
}

.example__days b {
  position: absolute;
  left: 21px;
  text-transform: uppercase;
  top: 9px;
}

.example__weight b {
  position: absolute;
  left: 44px;
  top: 10px;
  text-transform: uppercase;
}

.example__weight-text,
.example__days-text {
  background: #f2f2f2;
  position: absolute;
  width: 54px;
  text-align: center;
  bottom: -10px;
  left: 34px;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 1.5px;

}

.example__weight {
  margin-right: 32px;
  margin-left: 20px;
}
.example__block {
  margin-left: -20px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example__cost {
  text-transform: uppercase;
  font-family: "Oswald-Regular";
  text-align: center;
  margin-top: 33px;
  padding-left: 20px;
  margin-bottom: 44px;
}

.example__block-img {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin-bottom: 12px;
  position: relative;
}

form {
  display: flex;
  justify-content: center;
}

.rangeInput {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  width: 75px;
  height: 6px;
  margin-top: 5px;
  padding-left: 10px;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #68b738;
  border-radius: 50rem;
  height: 6px;
  width: 35px;
}

.example__before-text,
.example__after-text{
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald-Regular";
}

.before-after {
  display: flex;
  flex-direction: column;
}

.example__before-text {
  padding-left: 10px;
  margin-right: 20px;
}

.example__after-text {
  margin-left: 19px;
}

.example__before-wrap {
  width: 320px;
  left: 0;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.example__after-wrap {
  width: 320px;
  left: 0;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.example__before {
  left: 0;
  margin: 0;
  position: absolute;

}

.example__after {
  position: absolute;
  justify-content: center;

}

@media (min-width: 768px) {
  .example {
    display: flex;
    justify-content: center;
    height: 1082px;
    margin: 0;
    background: none;
  }

  .example__wrap {
    position: relative;
    width: 768px;
    display: flex;
    justify-content: center;
    background: none;
    padding: 0;
  }

  .example__list {
    position: relative;
    top: 0;
  }

  .example__tittle {
    position: absolute;
    font-size: 60px;
    top: -20px;
    left: 20px;
    letter-spacing: 1.5px;
  }

  .example__text {
    position: relative;
    top: 0;
    left: 11px;
    width: 678px;
    height: 120px;
    font-size: 16px;
    line-height: 24px;
    font-family: "ArialMT";
    letter-spacing: normal;
  }

  .example__block {
    width: 740px;
    height: 86px;
    margin: 0;
    position: relative;
    top: -25px;
  }

  .example__weight {
    width: 160px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    b {
      left: 57px;
    }
  }

  .example__days {
    width: 160px;
    height: 72px;
    position: absolute;
    left: 224px;
    top: 15px;
    font-size: 30px;
    b {
      left: 30px;
    }
  }

  .example__days-text {
    width: 130px;
    font-family: "ArialMT";
    letter-spacing: 1px;
    left: 15px;
    bottom: -2px;
    background: white;
  }

  .example__weight-text {
    width: 110px;
    font-family: "ArialMT";
    letter-spacing: 1px;
    left: 25px;
    bottom: -2px;
    background: white;
  }

  .example__cost {
    position: absolute;
    right: 13px;
    font-size: 20px;
    width: 174px;
    top: 20px;
    margin: 0;
    text-align: right;
  }

  .example_item:nth-child(2) {
    height: 610px;
    width: 768px;
    margin: 0;
  }

  .example__block-img {
    height: 610px;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .example__before {
    left: 46px;
    height: 517px;
    width: 676px;
    top: 20px;
}

  .example__after {
    right: 54px;
    display: block;
    height: 517px;
    width: 596px;
    top: 20px;
  }

  .example__after-wrap,
  .example__before-wrap {
    position: relative;
    width: 768px;
    height: 610px;
    top: 70px;
    margin: 0;
    overflow: hidden;
  }

  .example__before-wrap {
    left: 0px;
    background: #f2f2f2;
  }

  .example__after-wrap {
    right: 0px;
    background: #eaeaea;
  }

  .rangeInput {
    width: 428px;
    height: 6px;
    outline:none;
    z-index: 1;
  }

  .rangeInput {
    -webkit-appearance: none;
    margin-left: -10px;
    margin-top: 10px;
  }

  .rangeInput::-webkit-slider-thumb {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 8px solid #ffffff;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: rgba(0, 139, 0, 0.98);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
    outline:none;
  }

  .rangeInput::-ms-thumb {
    border: 8px solid #ffffff;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: rgba(0, 139, 0, 0.98);
    cursor: pointer;
    height: 11.3px;
    outline:none;
  }

  .example__before-text,
  .example__after-text {
    z-index: 1;
    font-size: 20px;
  }
}
