.page-main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.catalog {
  display: flex;
  justify-content: center;
  width: 320px;
}

.catalog__list {
  margin-top: 25px;
  padding: 0;
}

.catalog__item {
  width: 280px;
  height: 266px;
  background: #f2f2f2;
  margin-bottom: 20px;
  list-style: none;
  position: relative;
}

.catalog__img-fon {
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 20px;
}

.catalog__img-slim {
  position: absolute;
  left: 10px;
  top: -2px;
  width: 35px;
  height: 49px;
}

.catalog__img-pro {
  position: absolute;
  left: -6px;
  top: 13px;
  width: 67px;
  height: 28px;
}

.catalog__title {
  position: absolute;
  font-family: "Oswald-Light";
  text-transform: uppercase;
  line-height: 37.02px;
  font-size: 24px;
  left: 91px;
  top: 12px;
}

.catalog__text {
  position: absolute;
  left: 20px;
  top: 86px;
  width: 235px;
  height: 110px;
  font-size: 15px;
  font-family: "Oswald-Light";
  line-height: 18px;
  border-bottom: 1px solid #111111;
}

.catalog__link {
  position: absolute;
  bottom: 16px;
  left: 20px;
  font-size: 16px;
  color: #111111;
  font-family: "Oswald-Regular";
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__link::before {
  content: "";
  position: absolute;
  left: 97px;
  bottom: 6px;
  background-image: url("/img/right-arrow-long.svg");
  width: 24px;
  height: 11px;
}

@media (min-width:768px) {
  .catalog__item {
    width: 708px;
    height: 372px;
    margin-bottom: 30px;
  }

  .catalog__img-fon {
    width: 200px;
    height: 200px;
    left: 446px;
    top: 90px;
  }

  .catalog__img-slim {
    width: 140px;
    height: 194px;
    left: 30px;
    top: -11px;
  }

  .catalog__img-pro {
    width: 268px;
    height: 112px;
    left: -35px;
    top: 44px;
  }

  .catalog__title {
    font-size: 36px;
    left: 55px;
    top: 46px;
  }

  .catalog__text {
    width: 357px;
    height: 88px;
    border: none;
    font-size: 19px;
    line-height: 24px;
    top: 115px;
    left: 55px;
  }

  .catalog__link {
    font-size: 20px;
    bottom: 57px;
    left: 53px;
  }

  .catalog__link::before {
    content: "";
    bottom: 10px;
    left: 130px;
  }

  .catalog__item:nth-child(2) {
    .catalog__link::before {
      left: 125px;
    }
  }
}

@media (min-width:1440px) {
  .catalog {
    width: 100vw;
  }

  .catalog__wrap {
    width: 1440px;
  }

  .catalog__list {
    width: 1440px;
    display: flex;
    flex-direction: row;
  }

  .catalog__item {
    width: 570px;
    height: 372px;
    margin: 55px -30px 0 110px;
  }

  .catalog__img-fon {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }

  .catalog__img-slim {
    width: 70px;
    height: 97px;
    top: -6px;
    left: 13px;
  }

  .catalog__img-pro {
    width: 134px;
    height: 56px;
    top: 22px;
    left: -18px;
  }

  .catalog__title {
    left: 217px;
  }

  .catalog__text {
    top: 168px;
    left: 52px;
    width: 462px;
    font-size: 17px;
  }
}
